# =========================
# Data lake (DO NOT COMMIT)
# =========================
data/raw/
data/formatted/
data/usage/

# Parquet files
*.parquet

# Excel temp files (Windows)
~$*.xlsx

# Python cache
__pycache__/
*.pyc
